* {
    font-family: Helvetica, Arial, sans-serif;
  }
       h1 {
            
    color: SeaGreen;
  }
   
   
  p, 
  li {
    font-size: 18px;
    color: red;
  }
   
   
  a {
    text-decoration: none;
  }